body {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background: hsl(210, 36%, 96%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__button {
    background: #49a6e9;
    border: 4px solid #49a6e9;
    border-radius: 8px;
    color: #ffffff;
    letter-spacing: 3px;
    width: 200px;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
    transition: all 0.2s ease-in-out;
}

.container__button:hover {
    background: #26516f
}

.container__button:active {
    box-shadow: none;
}


.page-author {
    height: 250px;
    padding-bottom: 20px;
}

.container__quote-author {
    color: #80494b;;
}
